# Obsidian private folders
pkm/private/*

# to only exclude plugin configuration. Might be useful to prevent some plugin from exposing sensitive data
pkm/.obsidian/plugins/auto-tag/
pkm/.obsidian/plugins/ai-web/

# Claudian integration
pkm/.claude/
pkm/.obsidian/plugins/claudian/data.json

# OR only to exclude workspace cache
pkm/.obsidian/workspace.json

# to exclude workspace cache specific to mobile devices
pkm/.obsidian/workspace-mobile.json

# Add below lines to exclude OS settings and caches
.trash/
.DS_Store

pkm/meridian/