/* Different color for bold*/
.cm-strong,
.markdown-preview-section strong {
    color: #b07aa6;
    font-style: normal !important;
    font-weight: normal !important;
}

/* Different color for italic */
.cm-em,
.markdown-preview-section em {
    color: #ad5350;
    font-style: normal !important;
}